<ion-content>

  <section class="sermons-hero">
    <h1>Latest Sermons</h1>
    <p>Be encouraged and strengthened through the Word of God.</p>
  </section>

  <section class="sermons-list">
    <ion-list>
      <ion-item *ngFor="let sermon of sermons" lines="full">
        <ion-label>
          <h2>{{ sermon.title }}</h2>
          <p><strong> {{ sermon.preacher }} </strong> - {{sermon.date}}</p>
          <p class="description">{{ sermon.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </section>
  
</ion-content>
