<ion-header class="navbar">
  <ion-toolbar color="secondary">
    <!-- <ion-buttons slot="start">
      <ion-button>ACK St James Koromosho</ion-button>
    </ion-buttons> -->
    <ion-title class="logo">
      ACK St James Koromosho
    </ion-title>

    <ion-buttons slot="end" class="nav-links" >
      <ion-button routerLink="/home" >Home</ion-button>
      <ion-button routerLink="/about">About</ion-button>
      <ion-button routerLink="/ministries">Ministries</ion-button>
      <ion-button routerLink="/sermons">Sermons</ion-button>
      <ion-button routerLink="/contact">Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>