<!-- <ion-header class="navbar">
  <ion-toolbar>
    <ion-title class="logo">
      ACK ST James Koromosho Church
    </ion-title>
    <div class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/ministries">Ministries</a>
      <a routerLink="/sermons">Sermons</a>
      <a routerLink="/contact">Contact</a>
    </div>
    <ion-buttons slot="end" class="mobile-menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header class="navbar">
  <ion-toolbar>
    <ion-title class="logo">ACK St James Koromosho</ion-title>
  </ion-toolbar>

</ion-header>
